<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-vehicles">
        <%= link_to 'All Vehicles', vehicles_path %>
      </li>
      <li class="create-vehicles">
        <%= link_to 'Add New Vehicle', new_vehicle_path %>
      </li>
    </ul>
  </nav>
</aside>
