<!DOCTYPE html>
<html>
  <head>
    <title>Ontheroadagain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
		img { 
		height: 42 px;
		width: 42 px;
		}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
